<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="air.balloon.tennis.app" >

    <uses-sdk android:minSdkVersion="11"
          android:targetSdkVersion="19"
        />


    <!-- 访问互联网权限 根据需要添加 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SDCARD读写权限 根据需要添加 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态检测权限  根据需要添加 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="umeng.fb.ConversationActivity" />
        <activity android:name="umeng.fb.ContactActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="532ce0a856240bfd4d0aec30" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="unreleased" />

        <activity
            android:name="air.balloon.tennis.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="air.balloon.tennis.app.LoginActivity" >
        </activity>
        <activity android:name="air.balloon.tennis.app.RegisterActivity" >
        </activity>
        <activity android:name="air.balloon.tennis.app.EventListActivity" >
        </activity>
        <activity
            android:name="air.balloon.tennis.app.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="air.balloon.tennis.app.CourtListActivity"
            android:label="@string/title_activity_court" >
        </activity>
        <activity
            android:name="air.balloon.tennis.app.FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name=".FriendActivity"
            android:label="@string/title_activity_friend" >
        </activity>

        <activity
            android:name=".CourtActivity"
            android:label="@string/title_activity_friend" >
        </activity>
    </application>

</manifest>
